@layer components {

    /* Gradient */
    .animate-gradient {
        background-size: 200%;
        animation: gradient 6s ease infinite;
    }

    .animate-gradient-all {
        background-size: 1000%;
        animation: gradient 30s ease infinite;
    }

    @keyframes gradient {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    /* cursor */
    .animate-cursor::after {
        margin-left: 4px;
        content: '_';
        animation: cursor 1.1s infinite step-start;
        @apply dark:text-white text-black;
    }

    @keyframes cursor {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
}

.animate-slide-in {
    animation: slide-in 0.3s forwards;
}

.animate-slide-out {
    animation: slide-out 0.3s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-8px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-out {
    100% {
        transform: translateX(-8px);
        opacity: 0;
    }
}


.stuck-in {
    @media not all and (min-width: 768px) {
        .amigo-card__name {
            animation: amigo-name-out 0.3s forwards;
        }

        .amigo-card__content {
            animation: amigo-content-up 0.3s;
        }
    }
}

.stuck-out {
    @media not all and (min-width: 768px) {
        .amigo-card__name {
            animation: amigo-name-in 0.3s forwards;
        }

        .amigo-card__content {
            animation: amigo-content-down 0.3s;
        }
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-8px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes slide-out {
    100% {
        transform: translateX(-8px);
        opacity: 0;
    }
}


@keyframes amigo-name-in {
    0% {
        transform: translateY(-8px);
        opacity: 0;
        display: none;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        display: flex;
    }
}

@keyframes amigo-name-out {
    100% {
        transform: translateY(-8px);
        opacity: 0;
        display: none;
    }
}


@keyframes amigo-content-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-40px);
    }
}

@keyframes amigo-content-down {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
